*.sdf
*.opensdf
*.pdb
*.dll
*.lib
*.exe
*.log

examples/framework/bin/assets/shaders/*
examples/models/bin/assets/shaders/*

libs/*
personal/*

project/build/*

project/Basic example/build/*
project/Basic example/examples/*
project/Basic example/Debug/*
project/Basic example/Release/*

project/Framework example/build/*
project/Framework example/examples/*
project/Framework example/Debug/*
project/Framework example/Release/*

project/Models example/build/*
project/Models example/examples/*
project/Models example/Debug/*
project/Models example/Release/*
