*.sdf
*.opensdf
*.pdb
*.dll
*.lib
*.exe
*.log
*.ilk
*.suo
*.exp

examples/*/bin/assets/*/GLUL/*
examples/image/bin/lastImage.*
examples/image/bin/screenshot.*

libs/*
personal/*

project/msvc/Build/*
