language: cpp

compiler:
  - gcc
  - clang

env:
  matrix:
    - TASK=build
    - TASK=unit_tests
    - TASK=analyze

matrix:
  allow_failures:
    - env: TASK=analyze # fail on static code analysis doesn't fail whole build

addons:
  apt:
    sources:
    - llvm-toolchain-precise-3.6
    - ubuntu-toolchain-r-test
    packages:
    - clang-3.6
    - gcc-5
    - g++-5


before_install: 
  # PREPARE ENVIRONMENT
  #####################

  # UPDATE COMPILERS (GCC-5, Clang 3.6)
  - if [ "$CXX" = "g++"     ]; then export CXX="g++-5"       CC="gcc-5";     fi
  - if [ "$CXX" = "clang++" ]; then export CXX="clang++-3.6" CC="clang-3.6"; fi

  # UPDATE CMAKE TO >= 2.8.12, INSTALL CPPCHECK AND UPDATE GCC LINK
  - sudo add-apt-repository ppa:smspillaz/cmake-2.8.12 -y
  - sudo apt-get update
  - sudo apt-get purge cmake
  - sudo apt-get install cmake

  # INSTALL CPPCHECK
  - sudo apt-get install cppcheck

  # LINK GCC TO GCC-5
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 90

  # INSTALL GTEST (workaround)
  - sudo apt-get install libgtest-dev
  - cd /usr/src/gtest
  - sudo cmake .
  - sudo make
  - sudo mv libgtest* /usr/lib/
  - cd "${TRAVIS_BUILD_DIR}"

  # DISPLAY SOFTWARE VERSIONS
  - $CXX --version
  - cmake --version
  - cppcheck --version


install:
  # INSTALL DEPENDENCIES
  ######################
  
  - DEPENDENCY_GLM_BRANCH="0.9.5"
  - DEPENDENCY_GLEW_VERSION="1.13.0"
  - DEPENDENCY_FT2_VERSION="2.6"
  - DEPENDENCY_FT2_VERSION_FILE="26"

  # DOWNLOAD & INSTALL GLM LIBRARY
  - git clone -b $DEPENDENCY_GLM_BRANCH https://github.com/g-truc/glm.git glm
  - cd glm
  - cmake .
  - sudo make install
  - cd ..

  # DOWNLOAD & INSTALL GLEW LIBRARY
  - wget -O glew-${DEPENDENCY_GLEW_VERSION}.zip https://sourceforge.net/projects/glew/files/glew/${DEPENDENCY_GLEW_VERSION}/glew-${DEPENDENCY_GLEW_VERSION}.zip/download
  - unzip glew-${DEPENDENCY_GLEW_VERSION}.zip
  - cd glew-${DEPENDENCY_GLEW_VERSION}
  - make
  - sudo make install
  - cd ..

  # DOWNLOAD & INSTALL GLFW3 LIBRARY
  - git clone https://github.com/glfw/glfw.git glfw
  - cd glfw
  - cmake -DBUILD_SHARED_LIBS=ON .
  - sudo make install
  - cd ..

  # DOWNLOAD & INSTALL FREETYPE2 LIBRARY
  - wget -O ft${DEPENDENCY_FT2_VERSION_FILE}.zip http://sourceforge.net/projects/freetype/files/freetype2/${DEPENDENCY_FT2_VERSION}/ft${DEPENDENCY_FT2_VERSION_FILE}.zip/download
  - unzip ft${DEPENDENCY_FT2_VERSION_FILE}.zip
  - cd freetype-${DEPENDENCY_FT2_VERSION}
  - cmake .
  - sudo make install
  - cd ..

  # CONFIGURE INSTALLED DEPENDENCIES
  - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib64
  - sudo ldconfig

  # CREATE FAKE DISPLAY
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - echo "ENVIRONMENT VARIABLES:"
  - echo "CXX = $CXX"
  - echo "TASK = $TASK"

script:
  # TASK = build
  - if [ "$TASK" = "build" ]; then cmake .; fi
  - if [ "$TASK" = "build" ]; then make;    fi

  # TASK = analyze (GCC-5)
  - if [ "$TASK" = "analyze" ] && [ "$CXX" = "g++-5" ]; then cppcheck "src" --inline-suppr --template=vs --enable=style --force --std=c++11 -j 8 -I "include" 2> cppcheck.txt; fi
  - if [ "$TASK" = "analyze" ] && [ "$CXX" = "g++-5" ] && [ -s cppcheck.txt ]; then cat cppcheck.txt; exit 1; fi

  # TASK = analyze (Clang-3.6)
  - if [ "$TASK" = "analyze" ] && [ "$CXX" = "clang++-3.6" ]; then scan-build-3.6 cmake .; fi
  - if [ "$TASK" = "analyze" ] && [ "$CXX" = "clang++-3.6" ]; then scan-build-3.6 --status-bugs -v make -j 8; fi

  # TASK = unit_tests
  - if [ "$TASK" = "unit_tests" ]; then cmake -DBUILD_TESTS=ON .; fi
  - if [ "$TASK" = "unit_tests" ]; then make; fi
  - if [ "$TASK" = "unit_tests" ]; then ./tests/bin/Utility_Library_Unit_Tests; fi
